<section class="home">
  <div class="logo">
    <img src="./assets/img/logo.png">
  </div>
  <div class="introduction">
    <h1 class="title">Software de evaluación de desempeño a la medida de su empresa.</h1>
    <div class="subtitle-container">
      <p class="subtitle">Evalúe a su equipo fácilmente y aumente la productividad y la retencion de talentos en
        su organizacion</p>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn-orange">Programar Demo</button>
  </div>
</section>
<hr class="gray-space">
<section class="tools">
  <div class="title-container">
    <h3 class="title">Las mejores herramientas para la géstion de su Talento humano en un sólo lugar</h3>
  </div>
  <div class="row">
    <div class="col">
      <img src="./assets/img/competencia.png">
      <h5 class="title">Competencias 360°</h5>
    </div>
    <div class="col">
      <img src="./assets/img/metas.png">
      <h5 class="title">Metas</h5>
    </div>
    <div class="col">
      <img src="./assets/img/clima.png">
      <h5 class="title">Clima laboral</h5>
    </div>
    <div class="col">
      <img src="./assets/img/pid.png">
      <h5 class="title">Plan Individual<br> de Desarrollo</h5>
    </div>
  </div>
</section>
<section class="orange-statement">
  <div class="text-container">
    <p class="text">
      Evalúe el desempeño de su equipo y cree planes de actividades para aumentar la satisfacción laboral y la
      productividad de sus trabajadores
    </p>
  </div>
</section>
<hr class="gray-space">
<section class="demo-form">
  <div class="title-container">
    <h3 class="title">Programar Demostración</h3>
  </div>
  <div class="subtitle-container">
    <p class="subtitle">Cuéntenos un poco acerca de su empresa y sus necesidades y uno de nuestros representantes lo
      contactará para programar la demostracion del sistema</p>
  </div>
  <div class="form-container" align="center">
    <form>
      <label for="input1">NOMBRE</label>
      <input type="text" id="input1">
      <label for="input2">EMAIL CORPORATIVO</label>
      <input type="text" id="input2">
      <label for="input3">EMPRESA</label>
      <input type="text" id="input3">
      <label for="input4">CARGO</label>
      <input type="text" id="input4">
      <label for="input5">PRODUCTO DE INTERES</label>
      <input type="text" id="input5">
      <label for="input6">PAIS</label>
      <input type="text" id="input6">
      <label for="input7">NUMERO DE EMPLEADOS</label>
      <input type="text" id="input7">
      <label for="input8">CONTACTO TELEFONICO</label>
      <input type="text" id="input8">
      <label for="input9">CUENTENOS LO QUE ESTA BUSCANDO PARA QUE PODAMOS AYUDARLE MEJOR</label>
      <textarea id="input9" rows="4"></textarea>
    </form>
    <div class="btn-container">
      <button class="btn-orange">Programar Demo</button>
    </div>
  </div>
</section>
